
@media only screen and (max-width: 750px) {

}

@media only screen and (min-width: 751px) {
   
}

.label{
    line-height: 26px;
    font-weight: bold;
}

.boxElement{
    margin-bottom: 30px;
}

.slider{
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    width: 50%;
    height: 10px;
    background: #c0c5c3;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3e4543;
    border-radius: 50%;
}

.button{
    margin-top: 10px;
    -webkit-appearance: none;
    appearance: none;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #ccd5d2;
    color: #213735;
    border: #b4c8c3;
    width: 45px;
}

.button:hover {
    background-color: #a8bbb5;
}
.button:active {
    background-color: #a8bbb5;
    box-shadow: 0 1px #c7c6c6;
    transform: translateY(1px);
}

#kortAdd{
    margin-top: 10px;
}

