@media only screen and (max-width: 750px) {
    .gridF {
            display: grid;
            padding-left: 1px;
            grid-template-columns: 3cm 3cm;
            justify-items: center;
            justify-content: center;
        }


}
@media only screen and (min-width: 751px) {
    .gridF {
            display: grid;
            padding-left: 1px;
            grid-template-columns: 40% 40%;
            justify-items: center;
            justify-content: center;
        }
}

.headerWeights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 17px;
    margin: 0px;
}
.gridF h2{
    margin: 0px;
    font-size: 15px;
}

#vur1 {
    margin-bottom: 2px;
    font-size: 15px;
}

#weight{
    display: inline;
    justify-self: start;
    border-radius: 50%;
}

#weight p {
    font-size: 14px;
    display: inline;
    margin: 0px;
}

.weight input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.weight label {
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 2;
    display: inline-flex;
    z-index: 1;
    font-size: 13px;
    color: #59615f;
}

.weight label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 5.5px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    border: 1.5px solid #a8bbb5;
    border-radius: 4px;
    z-index: -1;   
}

.weight input[type=checkbox]:checked+label {
    padding-left: 1em;
    color: #3e4543;
}

.weight input[type=checkbox]:checked+label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #d3e2de;
    border-color: #a8bbb5;
}

.weight label,
.weight label::before {
    transition: 0.25s all ease;
}
#kort1{
margin-bottom: 20px;
}

.kortDiv label{
position: relative;
color: #59615f;
font-size: 14px;
display: inline;
margin: 0px;
margin-left: 7px;
line-height: 2;
top: -4px;
}

.kortDiv
.checkKort {
    appearance: none;
    background-color: #d3e2de;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 40px;
}

.kortDiv .checkKort::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.kortDiv .checkKort,
.checkbox-wrapper-2 .checkKort::after {
    transition: all 100ms ease-out;
}

.kortDiv .checkKort::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.kortDiv input[type=checkbox] {
    cursor: default;
}

.kortDiv .checkKort:hover {
    background-color: #d3e2de;
    transition-duration: 0s;
}

.kortDiv .checkKort:checked {
    background-color: #91b4a9;
}

.kortDiv .checkKort:checked::after {
    background-color: #fff;
    left: 22px;
}

.kortDiv:focus:not(.focus-visible) {
    outline: 0;
}

.kortDiv .checkKort:checked:hover {
    background-color: #91b4a9;
}
