

#tilbake{
    background-color: transparent;
    font-family: Helvetica;
    border-radius: 0px;
    text-align: left;
} 

#infoSide p {
    font-size: 14px;
    margin: 15px;
}

#styleIcon{
    font-family: Futura;
    background-color:#a8bbb5; 
    color: #3e4543;;
    width: 200px;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}
@media only screen and (max-width: 750px){
    #tilbake{
        width: 100px;
        position: absolute;
        left: 25px;
        top: 60px;
        font-size: 10px;
    }
    #headerOm>h1 {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 751px){
#tilbake{
    position: absolute;
    left: 40px;
    width: 155px;
}

.OmSiden {
    /* padding: 30px; */
    text-align: center;
}


}