@media only screen and (min-width: 751px) {
    #map {
        position: relative;
        float: right;
        align-items: right;
        height: 105vh;
        width: 100vw;
        margin-right: 0;
        z-index: 0;
    }

    #mapR {
        position: relative;
        float: right;
        align-items: right;
        height: 90vh;
        width: 70vw;
        margin-right: 0;
    }
}
@media only screen and (max-width: 750px) {
    #map {
        position: relative;
        float: right;
        align-items: right;
        height: 105vh;
        width: 100vw;
        margin-right: 0;
        z-index: 0;
    }

    #mapR {
        position: relative;
        float: left;
        grid-row-start: 1;
        height: 50vh;
        left: 0px;
        width: 100vw;
        margin-right: 0;
    }
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    border-radius: 12px;
    text-align: center;
}

#popupbut {
    width: 100px;
}

.markPopVal {
    display: grid;
    grid-template-columns: 2.9cm 2.9cm;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.popbutt {
    text-align: left;
}

.leaflet-popup-content {
    margin: 5px;
}
.leaflet-popup-content p {
    margin: 0px;
    padding: 5px;
}
.marker-cluster-small {
    background-color: rgba(252, 128, 198, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(240, 110, 243, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(213, 24, 106, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 9, 113, 0.6);
}

.marker-cluster-large {
    background-color: rgba(124, 27, 169, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(101, 34, 132, 0.6);
}

.leaflet-container {
    position: relative;
    float: right;
    align-items: right;
    height: 100vh;
    width: 70vw;
    margin-right: 0;
}
/* #sideBar{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 0;
} */

#OmSiden {
    float: right;
    margin-right: 5%;
}
