@media only screen and (max-width: 550px) {
    .navBar a {
        font-size: 13px;
    }
    .navBar {
        padding: 10px;
        padding-left: 10px;
        padding-right: 5px;
    }
}
@media only screen and (min-width: 551px) and ( max-width: 750px) {
    .navBar a {
        font-size: 15px;
    }

    .navBar {
        padding: 10px;
        padding-left: 40px;
        padding-right: 10px;
    }
}
@media only screen and (min-width: 751px) {
    .navBar a {
            font-size: 17px;
        }

    .navBar{
        padding: 10px;
        padding-left: 50px;
        padding-right: 10px;
    }
}
    .navBar {
        grid-column: 1 / span 3;
        background-color: #a8bbb5;
        overflow: hidden;
        position: relative;
        font-family: 'Futura';
    }
#OmSiden{
    position: right;
    justify-self: end;
}
    .navBar a {
        float: left;
        padding: 12px;
    
        color: #3e4543;
        font-weight: 600;
        text-decoration: none;
    }

    .navBar a:hover {
        background-color: #d3e2de;
        color: black;
    }

    .topnav-centered a {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
