
@media only screen and (max-width: 750px) {
    .sideBar p{
        font-size: 11px;
        margin-top: 2px;
    }
    #first{
        font-size: 13px;
    }
    #second {
        font-size: 10px;
    }
    div.result {
        padding: 2%;
    }
    .sideBar {
        float: center;
        margin-left: 4%;
        margin-right: 2%;
        grid-row-start: 2;
    }
    .container {
        grid-gap: 1px;
    }
    div.result {
        margin-bottom: 10px
    }
    .sideBar h3 {
        text-align: center;
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .boxContainer {
        grid-gap: 10px;
    }
    .container {
        display: grid;
        grid-template-rows: 50vh 40vh;
    }
    .sideBar2 {
        float: none;
        max-height: 38vh;
        overflow-y: scroll;
    }

    #six {
    font-size: 10px;
    }
    #five{
        font-size: 14px;
        margin-bottom: 0px;
    }

}

@media only screen and (min-width: 750px) {
    .boxContainer {
            grid-gap: 0px;
        }
    .sideBar p {
            font-size: 17px;
            margin-top: 10px;
        }
    #second{
        font-size: 14px;
    }
    div.result {
        padding: 2%;
    }
    .sideBar {
        margin-left: 6%;
        margin-right:3%;
    }
    .container {
        grid-gap: 0px;
    }
    .result {
        width: 23vw;
        margin-bottom: 20px
    }
    .sideBar h3 {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .boxContainer {
        grid-gap: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 30vw 70vw;
    }
    .sideBar2 {
        
        padding-right: 35px;
        margin-right: 5px;
        max-height: 83vh;
        overflow-y: scroll;

    }
    #six {
        font-size: 13px;
    }
}


.sideBar2 {
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sideBar h3 {
    color: #3e4543;
}

div.result {
    background-color: #e8f1ee;
    border-radius: 20px;
    border: 1px solid #e8f1ee;
    box-shadow:  2px 1px 0px  #b6cac4;
    
     
}
div.result:hover{
    background-color: #d4e3de;
}

div.result:active{
    background: #d4e3de;
    -webkit-box-shadow: inset 0px 0px 5px #983535;
    -moz-box-shadow: inset 0px 0px 5px #842828;
    box-shadow: inset 0px 0px 5px #b6cac4;
    outline: none;
}
div.result1 {
    padding-bottom: 8%;
    background-color: #d4e3de;
    border-radius: 20px;
    margin-bottom: 30px;
}


#first {
    font-weight: 700;
    margin-bottom: 5px;
}
#second {
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 4px;
}

#five{
    font-weight: bold;
    
}

.boxContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#left{
    justify-self: end;
}
#right {
    justify-self: start;
}
.my-tooltip{
    font-family: 'Futura';
    padding: 1px;
    border: #000fb4;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: medium;
}
