.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#app{
  display: grid;
  grid-template-columns: auto auto auto;
  gap:0px;
  background-color: #f0f6f5;
}



@media only screen and (max-width: 750px) {
  .fragment {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #3e4543;
    border-radius: 20px;
    background-color: #ebf3f0;
    padding: 18px;
    position: fixed;
    top: 460px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 250px;
    z-index: 2;
    text-align: right;
    }
    .fragment h3 {
      text-align: center;
      font-family: 'Futura';
      padding: 3px;
      margin: 0;
      font-size: 13px;
      color: #3e4543;
    }
    .fragment p {
      text-align: center;
    }
    .header {
  
      font-size: 0.7em;
      margin: auto;
      text-align: center;
      font-family: 'Futura';
      color: #3e4543;
    }
    .header h1{
    margin-top: 40px;
      margin-bottom: 20px;
     
    }

    .box {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #e8f1ee;
      width: 300px;
      border-radius: 30px;
      border-width: 2px;
      border-color: #446662;
      padding: 15px;
      margin: auto;
      text-align: center;
      padding-bottom: 5%;
    }

    .header p {
      font-family: Arial, Helvetica, sans-serif;
      align-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 30em;
      font-size: 12px;
      
    }

}
@media only screen and (min-width: 751px) {
  .fragment {
    text-align: right;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #3e4543;
    border-radius: 20px;
    background-color: #ebf3f0;
    padding: 15px;
    position: fixed;
    top: 440px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 270px;
    z-index: 2;
    padding-bottom: 40px;
  }

  .fragment h3 {
    font-family: 'Futura';
    padding: 3px;
    margin: 0;
    font-size: 17px;
    color: #3e4543;
    text-align: center;
  }

   .fragment p{
    text-align: center;
   }
  .header {
    font-size: 1em;
    margin-top: 7px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Futura';
    color: #3e4543;
  }

  .header p {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    
  }

  .box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8f1ee;
    width: 40%;
    border-radius: 30px;
    border-width: 2px;
    border-color: #446662;
    padding: 15px;
    padding-bottom: 25px;
    margin: auto;
    text-align: center;
  }

}
.box p {
  margin: 5px;
  font-size: 14px;
  color: #213735;
}
.fragmentX {
  display: none;
  z-index: 2;
}

 .fragment p:first-of-type {
  text-align: center;
 }


#alertGray{
  position: fixed;
  background-color: #3e4543;
  opacity: 0.5;
  backdrop-filter: blur(70%);
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}


#close {
  display: inline-block;
  text-align: end;
  border-color: #e8f1ee;
  border-radius: 4px;
  background-color: #e8f1ee;
  box-shadow: 0px 0px 0p;
  background: transparent;
}
#addForm {
  font-weight: bold;
  margin-top: 0px;
  width: 50%;
  height: 40px;
  background-color: #d3e2de;
  border: 1px solid #b4c8c3;
  position: relative;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

#addForm:hover {
background-color: #a8bbb5;
}

#addForm:after {
content: "";
background: #f1f1f1;
display: block;
position: absolute;
padding-top: 300%;
padding-left: 350%;
margin-left: -20px !important;
margin-top: -120%;
opacity: 0;
transition: all 0.8s
}

#addForm:active:after {
padding: 0;
margin: 0;
opacity: 1;
transition: 0s
}